body {
  background-color: #F5EFE6;

  .title a {
    color: aliceblue;

  }
}

.error{
  text-align: center;
    font-weight: 600;
    margin-top: 5%;
}

.card-img-fixed {
    /* 設置固定的高度，您可以根據設計調整數值 */
    height: 200px; 
    
    /* 關鍵：圖片會被裁切以覆蓋整個元素，且不會被拉伸 */
    object-fit: cover; 
}


.section{
  border-bottom: unset !important;
}
/* 處理「無網站」時的按鈕樣式 */
.link-btn.disabled {
    pointer-events: none; /* 禁用點擊事件 */
    opacity: 0.6; /* 變暗表示不可用 */
    cursor: default; /* 鼠標變回預設樣式 */
    /* 您可能還需要加上適合您網站的按鈕/連結樣式 */
    display: inline-block;
    padding: 0.375rem 0.75rem;
    color: #fff; /* 假設您網站按鈕是白色文字 */
    background-color: #6c757d; /* 灰色背景 */
    border-radius: 0.25rem;
    text-decoration: none;
}


.card{
  border-radius: 16px;
  .card-title{
    color: #6D94C5;
  }
  img{
    max-width:unset !important;
    padding:16px 16px 0;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
  .card-footer{
    padding: 8px;
    background-color: #b6c4d1;
  }
  .card-footer:last-child{
 border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
}

.link-btn{
        color: #141313;
    background-color: #E8DFCA;
    padding: 8px 25px;
    border-radius: 8px;
    font-weight: 600;

    &:hover{
        color: #141313;
         background-color: #f7dfa8;
    }
}

body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Besley', serif;
}