@import "../node_modules/bootstrap/scss/bootstrap";
@import "_main.scss";

@font-face {
  font-family: 'Melon';
  src: url('../fonts/Melon Fruit.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.twPage a {
  font-size: 10px;
  color: #374785;
}

.section {
  border-bottom: 1px solid black;
  padding: 50px 0 30px 0;
  display: flex;
  justify-content: center;
  margin: auto;

  @media (max-width:768px) {
    display: flex;
    padding-left: 10px;
  }
}



.nav-link {
  font-size: 25px;
  color: #374785;
}

.loading {
  font-size: 20px;
  color: #6D94C5;
  font-weight: 600;
}

.section {
  padding: 0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #252b30;
  background-color: #CBDCEB;
  border-color: transparent;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 8px 16px;
  font-weight: 600;
}

.nav-tabs .nav-link {
  font-size: 18px;
}

.address,
.phone {
  padding-top: 40px;
}

.info {
  padding: 50px 0px 50px 0;
  border-bottom: 2px dashed #24305E
}




.send {
  border: none;
  background-color: #80A1BA;
  padding: 4px 0;
  font-weight: 600;
  margin-top: 8px;

  &:hover {
    background-color: #84abc9;
  }


}

.list {
  margin: 20px 0 100px 0;
}



.text {
  padding-left: 20px;
  flex-direction: column;

  .info {
    display: flex;
  }
}

.description {
  font-size: 15px;
  color: #222224;
}


.mainTitle {

  h1 {
    font-size: 4rem;
    color: rgb(147, 139, 119);
    font-family: 'Melon';

    a:hover {
      text-decoration: none;
    }
  }
}

.notice {
  padding-bottom: 50px;
  font-size: 20px
}

.page a {
  color: #ebedf5;
  text-decoration: none;
  margin-top: 10px;

}

.name {
  font-size: 35px;
  color: rgb(61, 55, 40);
}


a {
  text-decoration: none;

  :hover {
    color: rgb(59, 46, 125);
  }
}

img {
  max-width: 350px;
  height: auto;
}


@media (min-width: 1200px) {
  .nav-tabs {
    justify-content: end;
  }
   .mainTitle{
  padding-top: 5% ;
} 
}

@media (max-width: 1199.98px) {
  .nav-tabs {
    justify-content: end;
  }
   .mainTitle{
  padding-top: 8% ;
} 
}
@media (max-width:768px) {
  .nav-tabs {
    justify-content: unset !important;
  }

  .scrollable-nav {
    /* 啟用水平滾動條 */
    overflow-x: auto;
    /* 隱藏垂直滾動條 (如果有的話) */
    overflow-y: hidden;
    /* 確保在 Webkit 瀏覽器 (Chrome, Safari) 上隱藏滾動條，但保留滾動功能 */
    -webkit-overflow-scrolling: touch;
    /* 提升手機上滾動體驗 */
  }

  /* 針對 Webkit 瀏覽器隱藏滾動條 */
  .scrollable-nav::-webkit-scrollbar {
    display: none;
  }

  .nav {
    flex-wrap: unset !important;
  }

  .detailImg {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .nav {
    display: flex;
    align-items: center;

    a {
      padding-top: 70px;
    }
  }

  .part1 {
    margin-left: auto;
  }

  .part2 {
    padding-top: 8px;
  }

  .icon {
    padding: 50px 0 30px 0;
  }
  .mainTitle{
  padding-top: 15% ;
} 
.notice{
padding-bottom: 30px !important
}
body{
padding: 5%;
}
}